---
layout: rest-api
title: REST-API list
permalink: /rest-api/
---

<div class="container mtb">
    <div class="row">

        <!-- REST APIs LIST -->
        <div class="col-lg-8">
            <h4>[ REST API version : v0.2.0 ]</h4><P></P>
            {% for page in site.pages %}
                {% if page.title == "REST-API" and page.api-version == "v0.2.0" %}
                <a href="{{ page.permalink | prepend: site.baseurl }}" target="_Blank"><h5 class="ctitle">{{ page.permalink }}</h5></a>
                {% endif %}
            {% endfor %}
             <div class="hline"></div>
             <div class="spacing"></div>
            <h4>[ REST API version : v0.1.0 ]</h4><P></P>
            {% for page in site.pages %}
                {% if page.title == "REST-API" and page.api-version == "v0.1.0" %}
                <a href="{{ page.permalink | prepend: site.baseurl }}" target="_Blank"><h5 class="ctitle">{{ page.permalink }}</h5></a>
                {% endif %}
            {% endfor %}
            <div class="hline"></div>
            <div class="spacing"></div>

        </div><!--/col-lg-8 -->

    </div><!--/row -->
</div><!--/container -->
