<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h3>Cloud-barista의 개발 목표</h3>
                <P>
                <h5>단일 클라우드 활용 한계 극복 및 멀티 클라우드의 활용‧확산을 위하여, 멀티 클라우드 서비스의 운용‧관리에</h5>
                <h5>필요한 필수 공통 기능을 제공하는 멀티 클라우드 서비스 공통 프레임워크 핵심 기술 개발을 목표로하고 있습니다.</h5>		</P>
            </div>
             <P>
            <div class="col-lg-10 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/cb1.PNG" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
