---
layout: main
---
.members .col-md-2 {
    float: left;
    width: calc(100% / 6);
    padding-bottom: 15%
}
.members .col-md-2 img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 70%;
}

@media (max-width: 991px) {
    .members .col-md-2 {
        width: calc(100% / 3);
    }
}

.navbar > .container .navbar-brand {
    padding-top: 4px;
    padding-bottom: 4px
}